@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <img src="~/images/1.jpg" />
    <p class="author">ZVGorshkov and markonii</p>
</div>

<style>
    .text-center {
        position: relative; 
    }
    
    .author {
        font-size: 2em;
        color: #555;
        position: absolute; 
        bottom: -30px; 
        left: 50%; 
        transform: translateX(-50%); 
    }
</style>