@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Доступ запрещен!</h1>
    
</div>
<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AspNetExample</a>