@model PingPal.Models.Account.LoginModel

<style>
    table, th, td {
        place-content: center;
    }
</style>

<div class="text-center">
    <h2>Вход</h2>
</div>
<p>Введите логин и пароль для входа</p>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div style="margin-top: 20px; justify-items: center;">
        <label asp-for="Login">@Html.DisplayNameFor(model => model.Login):</label>
        <input asp-for="Login" class="form-control" style="width: 300px;" />
        <span asp-validation-for="Login" class="text-danger"></span>
    </div>

    <div style="margin-top: 20px; justify-items: center;">
        <label asp-for="Password">@Html.DisplayNameFor(model => model.Password):</label>
        <input asp-for="Password" class="form-control" style="width: 300px;" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />

    <p>
        <input type="submit" value="Войти" />
    </p>
}

<div class="text-center" style="margin-top: 40px">
    Нет аккаунта?
    <br />
    <a asp-action="Register" class="nav-link">Регистрация</a>
</div>